.title {
  font-size: 3rem;
  line-height: 5rem;
  font-style: italic;
}

.subtitle {
  font-size: 1rem;
}

.info {
  font-size: 2rem;
  font-family: "Roboto Slab", serif;
  position: relative;
}

#modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}
#modal.hidden {
  display: none;
}
#modal .card {
  margin-top: 5rem;
  background-color: #f4f4f4;
  width: 70vw;
  height: 85vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}
#modal .card .photos {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  padding: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  overflow-y: scroll;
}
#modal .card .photos .photo-card {
  overflow: hidden;
  height: 20rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#modal .card .photos .photo-card .img {
  overflow: hidden;
}
#modal .card .photos .photo-card img {
  width: 100%;
  height: 18rem;
  object-fit: contain;
  transition: transform 0.5s ease;
  overflow: hidden;
}
#modal .card .photos .photo-card p {
  margin-bottom: 0.5rem;
  color: #191919;
}
#modal .card .photos .photo-card:hover img {
  transform: scale(1.2);
}

#add-photo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  position: relative;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 80%;
}
#add-photo .input-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2rem;
}
#add-photo .input-container label {
  text-align: left;
}
#add-photo #profile-photo label {
  margin: auto;
}
#add-photo .image-preview-label {
  grid-area: photo;
  width: 350px;
  height: 250px;
  border: 1px solid #191919;
  margin: 0;
  position: relative;
}
#add-photo .image-preview-label p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
#add-photo .image-preview {
  object-fit: cover;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 999;
}
#add-photo input[type=file] {
  display: none;
}
#add-photo input {
  display: block;
  background: #f4f4f4;
  border: 1px solid #191919;
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
  width: 100%;
}
#add-photo textarea {
  display: block;
  background: #f4f4f4;
  border: 1px solid #191919;
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
  width: 100%;
}
#add-photo .category-tags-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
#add-photo .category-tags-container .input {
  width: 93%;
}
#add-photo .add-section-container {
  width: 100%;
  background-color: #e0dfdf;
  padding: 1rem;
  margin-bottom: 2rem;
}
#add-photo .buttons-container {
  width: 100%;
}
#add-photo .buttons-container button:first-of-type {
  margin-bottom: 1rem;
}
#add-photo .add-gallery-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#add-photo .add-gallery-container .input-container {
  margin-bottom: 1rem;
}
#add-photo .input-photo-container {
  width: 100%;
}
#add-photo .input-photo-container .photo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#add-photo .input-photo-container .photo .img {
  width: 40%;
}
#add-photo .input-photo-container .photo .img img {
  width: 100%;
  aspect-ratio: 16/10;
  object-fit: contain;
  cursor: pointer;
}
#add-photo .input-photo-container .photo .img-data {
  width: 40%;
}
#add-photo .input-photo-container .photo .img-data .input-container {
  margin-bottom: 1rem;
}

/*# sourceMappingURL=addArticle.css.map */
