.title {
  font-size: 3rem;
  line-height: 5rem;
  font-style: italic;
}

.subtitle {
  font-size: 1rem;
}

.info {
  font-size: 2rem;
  font-family: "Roboto Slab", serif;
  position: relative;
}

.article {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
}
.article .article-main {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.article .article-main .article-title {
  text-align: center;
  margin: 0 0 2rem 0;
}
.article .article-main img {
  object-fit: cover;
  aspect-ratio: 16/9;
  width: 70%;
}
.article .article-main .article-description {
  margin: 2rem 0 2rem;
}
.article .article-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 2rem 0;
}
.article .article-section h2 {
  margin-top: 2rem;
}
.article .article-section .section-gallery {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  text-align: center;
  width: 100%;
}
.article .article-section .section-gallery .gallery {
  position: relative;
  width: 100%;
  transition: all 0.5s ease;
}
.article .article-section .section-gallery .gallery .prev {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 0;
  position: absolute;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  border: 1px solid #191919;
  background-color: #ffd900;
  transform: translate(0, -50%);
  cursor: pointer;
}
.article .article-section .section-gallery .gallery .next {
  position: absolute;
  top: 50%;
  right: 0;
  position: absolute;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  border: 1px solid #191919;
  background-color: #ffd900;
  transform: translate(0, -50%);
  cursor: pointer;
}
.article .article-section .section-gallery .gallery .gallery-images {
  transition: all 0.5s ease;
  position: relative;
  display: flex;
  width: 100%;
  margin: auto;
  overflow: hidden;
  align-items: center;
}
.article .article-section .section-gallery .gallery .gallery-images .image {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.5s ease;
}
.article .article-section .section-gallery .gallery .gallery-images .image h4 {
  text-align: center;
}
.article .article-section .section-gallery .gallery .gallery-images .image img {
  width: 100%;
  aspect-ratio: 16/10;
  object-fit: contain;
  max-height: 400px;
}
.article .article-section .section-content p {
  margin-bottom: 0.25rem;
}
.article .article-section .section-content a {
  color: #ffd900;
}
.article .article-data {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}
.article .article-data p a {
  color: #ffd900;
}

.comments {
  width: 80%;
  text-align: center;
}
.comments form {
  margin-bottom: 2rem;
}
.comments form label {
  text-align: left;
}
.comments form textarea {
  font-size: 1rem;
  padding: 0.5rem;
}
.comments .comment {
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  border: 1px solid #191919;
  padding: 0.5rem;
  width: 100%;
}
.comments .comment-meta {
  display: flex;
  justify-content: center;
  align-items: center;
}
.comments .comment-meta a {
  color: black;
}
.comments .comment-meta img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 1rem;
}
.comments .comment-content {
  margin-left: 65px;
}

/*# sourceMappingURL=article.css.map */
