@use "util/colors";
@use "util/typography";

.article {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  .article {
    &-main {
      display: flex;
      align-items: center;
      flex-direction: column;
      .article-title {
        text-align: center;
        margin: 0 0 2rem 0;
      }
      img {
        object-fit: cover;
        aspect-ratio: 16/9;
        width: 70%;
      }
      .article-description {
        margin: 2rem 0 2rem;
      }
    }
    &-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 2rem 0;
      h2 {
        margin-top: 2rem;
      }

      .section-gallery {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 1rem 0;
        text-align: center;
        width: 100%;

        .gallery {
          position: relative;
          width: 100%;
          transition: all 0.5s ease;
          .prev {
            z-index: 2;
            position: absolute;
            top: 50%;
            left: 0;
            position: absolute;
            padding: 0.5rem 1rem;
            border-radius: 0.2rem;
            border: 1px solid #191919;
            background-color: #ffd900;
            transform: translate(0, -50%);
            cursor: pointer;
          }
          .next {
            position: absolute;
            top: 50%;
            right: 0;
            position: absolute;
            padding: 0.5rem 1rem;
            border-radius: 0.2rem;
            border: 1px solid colors.$base-dark;
            background-color: colors.$yellow;
            transform: translate(0, -50%);
            cursor: pointer;
          }
          .gallery-images {
            transition: all 0.5s ease;
            position: relative;
            display: flex;
            width: 100%;
            margin: auto;
            overflow: hidden;
            align-items: center;
            .image {
              min-width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              transition: all 0.5s ease;
              h4 {
                text-align: center;
              }
              img {
                width: 100%;
                aspect-ratio: 16/10;
                object-fit: contain;
                max-height: 400px;
              }
            }
          }
        }
      }

      .section-content {
        p {
          margin-bottom: 0.25rem;
        }
        a {
          color: colors.$yellow;
        }
      }
    }
    &-data {
      margin-top: 2rem;
      display: flex;
      justify-content: space-around;
      p {
        a {
          color: colors.$yellow;
        }
      }
    }
  }
}
