@use "util/colors";
@use "util/typography";

.profile {
  margin: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  &-buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    a {
      width: 30%;
      text-align: center;
      margin: 0rem 1rem 1rem;
    }
  }
  &-info {
    margin: 1rem 1rem;
    display: flex;

    .profile-photo {
      width: 30%;
      margin-right: 2rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &-data {
    width: 100%;

    .profile-name {
      display: flex;
      justify-content: space-between;
      margin-right: 0.3rem;
      a {
        text-align: center;
      }
      .name-location {
        display: flex;
      }
      h2 {
        margin-right: 0.5rem;
      }
      p {
        line-height: 2.5rem;
        font-size: 0.8rem;
      }
    }
  }
  &-followers {
    display: flex;
    width: 100%;
    p {
      margin-right: 1rem;
      .followers-link {
        color: colors.$yellow;
      }
    }
  }
  &-description {
    margin: 2rem 0;
  }
  &-links {
    display: flex;
    a {
      margin-right: 5rem;
    }
  }
  &-articles {
    // margin: 0rem 2rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;

    .search-container {
      text-align: center;
      h2 {
        margin-bottom: 2rem;
      }
      .search {
        display: flex;
        justify-content: center;
        input {
          padding: 0.5rem 0.5rem;
          border: 1px solid colors.$base-dark;
          width: 80%;
          margin-right: 2rem;
          &:focus {
            outline: none;
          }
        }
        select {
          padding: 0.5rem 0.5rem;
        }
      }
    }
    .article {
      display: flex;
      width: 100%;
      border: 1px solid black;
      margin: 2rem 0;
      max-height: 180px;
      height: 200px;
      cursor: pointer;
      .article-photo {
        width: 30%;
        margin-right: 2rem;
        img {
          aspect-ratio: 16/10;
          height: 100%;
          object-fit: cover;
          width: 100%;
          max-height: 100%;
        }
      }
      .article-information {
        padding: 0.5rem 0 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        h3 {
          margin-bottom: 2rem;
        }
        p {
          display: block;
          height: 70%;
        }
        .article-tags {
          margin-bottom: 1rem;
          display: flex;
          width: 100%;
          .tag {
            color: colors.$yellow;
            background-color: colors.$base-dark;
            font-size: 0.7rem;
            padding: 0.2rem 0.3rem;
            border-radius: 3rem;
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
}
